= form_with(model: owner) do |form|
  - if owner.errors.any?
    .card.mx-4
      .card-body
        %div{style: 'color: red'}
          %h2
            = pluralize(owner.errors.count, "error")
            prohibited this owner from being saved:
          %ul
            - owner.errors.each do |error|
              %li= error.full_message
  .form-group.mx-4
    = form.label :first_name, class: "form-label", style: "display: block"
    = form.text_field :first_name, class: "form-control"
  .form-group.mx-4
    = form.label :last_name, class: "form-label", style: "display: block"
    = form.text_field :last_name, class: "form-control"
  .form-group.mx-4
    = form.label :email, class: "form-label", style: "display: block"
    = form.text_field :email, class: "form-control"
  .form-group.mx-4
    = form.label :identification, class: "form-label", style: "display: block"
    = form.number_field :identification, class: "form-control"
  .form-group.mx-4
    = form.submit class: "btn btn-primary"
