%div{:id => "#{dom_id owner}"}
  %p
    %strong First name:
    = owner.first_name
  %p
    %strong Last name:
    = owner.last_name
  %p
    %strong Email:
    = owner.email
  %p
    %strong Id number:
    = owner.id_number
  %p
    %strong Level:
    = owner.level