%div{:id => "#{dom_id owner}"}
  %p
    %strong First name:
    = owner.first_name
  %p
    %strong Last name:
    = owner.last_name
  %p
    %strong Mail:
    = owner.mail
  %p
    %strong Owner:
    = owner.owner_id
  %p
    %strong Level:
    = owner.level
