%p{:style => "color: green"}= notice
.div.m-4
  .page.header
    %h1.mb-4
      =t('application.list_of', model:t('activerecord.modules.owner.other'))
    .float-end.pd-4
      = link_to t('application.create'), new_owner_path, class: "btn btn-primary"

  %table.table.table-striped
    %thread
      %tr 
        %th= t('activerecord.attributes.owner.name')
        %th= t('activerecord.attributes.owner.last_name')
        %th= t('activerecord.attributes.owner.email')
        %th= t('activerecord.attributes.owner.identification_numer')
        %th= t('activerecord.attributes.owner.level_type')
        %th
        %th
        %th

    %tbody
      -@owners.each do |owner|
        %tr
          %td= owner.first_name
          %td= owner.last_name
          %td= owner.email
          %td= owner.identification_numer
          %td= t("activerecord.attributes.owner.level_Types.#{owner.level_type}")
          %td= link_to t('application.show'),owner, class: "btn btn-info"
          %td= link_to t('application.edit'),edit_owner_path(owner), class: "btn btn-success"
          %td= button_to t('application.delete'),(owner), method: :delete, class: "btn btn-danger"
.row.mt-4
  .offset-3.col-3 
    = link_to t('application.back'), root_path, class: "btn btn-secondary btn-block"